<ul>
 <!-- <li><a [routerLink]="'/about-me'">about me</a></li>
 <li><a [routerLink]="'/cv'">cv</a></li> -->
</ul>
<nav class="nav-extended">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo center">Logo</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li>
      <li><a href="collapsible.html">JavaScript</a></li>
    </ul>
  </div>
  <div class="nav-content">
    <ul class="tabs tabs-transparent">
      <li class="tab"><a [routerLink]="'/about-me'">About Me</a></li>
      <li class="tab"><a class="active" [routerLink]="'/cv'">CV</a></li>
    </ul>
  </div>
</nav>
<div class="row container">
  <div class="col s12">
    <div class="card">
      <div class="card-image">
        <img src="assets/landschaft.jpg" alt="Landschaft" style="width: 100%; height: auto; max-width: 500px;">
        <span class="Drip to hard" >Drip to hard</span>
      </div>
      <div class="card-content">
        <p>Ich habe keine Ahnung von Programieren.</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
      </div>
    </div>
  </div>
</div>

<!-- <ul class="sidenav" id="mobile-demo">
  <li><a href="sass.html">Sass</a></li>
  <li><a href="badges.html">Components</a></li>
  <li><a href="collapsible.html">JavaScript</a></li>
</ul>

<div id="test1" class="col s12">Test 1</div>
<div id="test2" class="col s12">Test 2</div>
<div id="test3" class="col s12">Test 3</div>
<div id="test4" class="col s12">Test 4</div> -->
<router-outlet />