<p>cv works!</p>
@if (formGroup) {
    <form [formGroup]=formGroup (ngSubmit)="saveCV()">
     <input type="number" formControlName="id" hidden>
     <input type="text" formControlName="employer">
     <input type="date" formControlName="start">
     <input type="date" formControlName="end">
     <button class="btn" type="submit">save</button>
     <button class="btn grey" type="button" (click)="formGroup = undefined">cancel</button>
    </form>
    }
    <a class="btn" [routerLink]="['new']">NEW</a>
    <ul>
     @for (cv of cvs; track cv.employer) {
     <li>{{ cv.employer }} {{ cv.start }} - {{ cv.end }}
     <button class="btn" (click)="select(cv)">edit</button>

     <a class="btn red" [routerLink]="[cv.id, 'delete']" >DELETE</a>

     </li>
     }
    </ul>